input/*

\.idea/

pipeline/__pycache__/

feature_engineering/__pycache__/

output/

model/__pycache__/

eda/\.ipynb_checkpoints/

work_csv/

script/\.ipynb_checkpoints/

riiideducation/

riiid_code/

experiment/mlruns/

experiment/1\.csv

experiment/2\.csv

experiment/3\.csv

experiment/4\.csv

experiment/catboost_info/

feature_engineering/question_lecture_dict_backup\.pickle


catboost_info/

feature_engineering/question_lecture_dict_backup_th300\.pickle

feature_engineering/question_lecture_dict_th50\.pickle

feature_engineering/question_lecture_dict\.pickle
